/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

/* Global Style */
body{
     font-family: 'Rubik', sans-serif;
     background: #1D0E15;
     color: #f2f2f2;
     scroll-behavior: smooth;
}

::-webkit-scrollbar {
     width: .70rem;
     background-color: #351B24;
}

::-webkit-scrollbar-thumb {
     background-color: #ffaa90;
}

::-webkit-scrollbar-thumb:hover {
     background-color: #ff8a67;
}
h1 , h2 , h3 , h4 , h5 , h6{
     font-family: 'Nunito', sans-serif;

}
.titel{
     font-size: 80px;
     line-height: 75px;
     font-weight: 700;
     color: #f2f2f2;
     margin-bottom: 20px;
}
.span-content{
     font-size: 19px;
     line-height: 28px;
     padding: 5px;
     font-weight: 500;
     color: #ff5421;
     margin-bottom: 10px;
}
.btn-section{
     background: #ff5421;
     color: #f2f2f2;
     border-radius: 4px;
     font-weight: 500;
     font-size: 16px;
     text-transform: capitalize;
     padding: 17px 28px;
}

/* Scroll Up Icon */

.scroll-up{
     background-color: #ff5421;
     font-size: 14px;
     color: #fff;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     bottom: 5%;
     right: -12%;
     z-index: 6;
     border: 0;
     outline: 0;
     cursor: pointer;
     transition: 0.3s all;
}
.scroll-up.show{
     right: 2%;
     background-color: #ff5421;
}
/* NavBar Style */

.navbar{
     background-color: transparent;
     z-index: 5;
     padding: 30px;
} 
.navbar-brand{
     width: 50%;
}
.navbar-brand img{
     width: 35%;
     min-height: 35%;
}
.nav-item a{
     color: #f2f2f2;
     font-size: 15px;
     font-weight: 500;
}
.nav-item a:hover{
     color: #ff5421;
}
.navbar-toggler:focus {
     box-shadow: none;

}
.navbar-toggler i{
     color: #f3f8f9;
}
.scroll-nav{
     background-color: #f3f8f9;
     padding: 10px;
}
.scroll-nav a{
     color: #111111;
}


/* Strart Home Section */

#home{
     height: 130vh;
     background-image: url(../imges/banner-min.jpg);
     background-position: center center;
     background-size: cover;
     overflow: hidden;
}

.subtitele-home{
     margin-top:70px ;
}
.img-home{
     z-index: 2;
}
.subtitele-home span{
     font-size: 16px;
     line-height: 27px;
     font-weight: 500;
     color: #ff5421;
     text-transform: uppercase;
     display: block;
     margin-bottom: 15px;
}

.icon-spiner .circle{
     top: 15%;
     right: 88%;
     position: absolute;
     width: 70px;
}
.icon-spiner .squre-img{
     position: absolute;
     right: 60%;
     bottom: 10%;
}

.icon-spiner .dot-img{
     position: absolute;
     right: 19%;
     top: 30%;
     z-index: 1;
}

.spine2 {
     animation: spine 5s linear infinite;
     -webkit-animation: spine 5s linear infinite;
}
@keyframes spine {
     0% {
     transform: rotate(0);
     -webkit-transform: rotate(0);
     }
     100% {
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     }
}

.up-down-new {
     animation: up-down 8s alternate infinite;
     -webkit-animation: up-down 8s alternate infinite;
}
@keyframes up-down {
     0% {
     transform: translateY(30px);
     -webkit-transform: translateY(0);
     }
     50% {
     transform: translateY(-50px);
     -webkit-transform: translateY(-50px);
     }
     100% {
     transform: translateY(0);
     -webkit-transform: translateY(0);
     }
}

/* Start About Section */
#about{
     position: relative;
}
.img-about{
     z-index:2 ;
}
.titel{
     font-size: 42px;
     line-height: 55px;
     font-weight: 700;
     color: #f2f2f2;
     padding-bottom: 30px;
}
.about-content p{
     font-size: 16px;
     line-height: 26px;
     color: #f2f2f2;
}

.icon-spiner .dot-about1{
     position: absolute;
     bottom: 40%;
     right: 60%;
}
.icon-spiner .dot-about2{
     position: absolute;
     top: 10%;
     z-index: 0;
     left: 25%;
}
.check-content{
     list-style: outside square;
     margin: 0;
     padding: 0;
}
.check-content li::marker{
     color: #ff5421;
}
.check-content li {
     position: relative;
     padding-left: 35px;
     line-height: 34px;
     border: none;
     color: #f2f2f2;
}

.count-number{
     background-image:url(../imges/counter-bg-min.jpg) ;
     background-size: cover;
     background-position: center center;
}
.count-number span{
     color: #ff5421;
     font-size: 42px;
     font-weight: 500;
     line-height: 42px;
}
.count-item{
     transition: all 0.5s ease;
}
.count-item:hover{
     transform: translateY(-6px);
}
.count-item h3{
     font-size: 22px;
     font-weight: 500;
     line-height: 37px;
     color: #f2f2f2;
     padding-top: 10px;
}

/* Start courses Section */

.item-card{
     overflow: hidden;
     position: relative;
}
.item-card:hover .img-card{
     transform: scale(1.1);
}
.img-card{
     transition: 0.8s all ease;
}
.content-card{
     padding: 20px;
     border-style: solid;
     border-width: 0px 1px 1px 1px;
     border-color: #252525;
}
.courses-price{
     background-color: #ff5421;
     color: #f2f2f2;
     position: absolute;
     top: 12px;
     right: 12px;
     padding: 3px;
     border-radius: 5px;
}
.meta-courses{
     padding: 10px 0;
     display: flex;
     justify-content: space-between;
     list-style: none;
     font-size: 15px;
     margin: 0 0 20px;
}
.meta-courses i{
     color: #ff5421;
}
.titel-courses{
     font-size: 20px;
     padding-bottom:  10px;
     font-weight: 700;
}
.titel-courses a{
     color: #f2f2f2;
     text-decoration: none;
     transition: 0.3s all ease;
}
.titel-courses:hover a{
     color: #ff5421;
}
.avater-img{
     width: 70%;
}
.avater-img img{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-right: 7px;
}
.span-footer{
     font-size: 18px;
}
.span-footer a{
     color: #ff5421;
     text-decoration: none;
}
.span-footer i{
     color: #ff5421;
}



/* Start Pages Section */
.slider{
     background-image: url(../imges/logo-bg-min.jpg);
     background-position: center center;
     background-size: cover;

}
.slider img{
     max-width: 163px;
     vertical-align: middle;
}
.owl-nav{
     display: none;
}


#pages{
     position: relative;
}
#pages .icon-spiner .circle{
     right: 85%;
     top: 10%;
     position: absolute;
}
#pages .icon-spiner .squre-img{
     right: 55%;
     position: absolute;
     bottom: 10%;
}
#pages .icon-spiner .dot-img{
     right: 35%;
     top: 15%;
     position: absolute;
}


/* Start Membership Section */
.membership{
     background-image: url(../imges/subscribe-bg-min.jpg);
}
.membership h2{
     font-weight: 800;
}


/* Start Testemonial */ 
.item{
     border: 0;
     outline: 0;
     background-color: transparent;
     margin: 0 5px;
}    

.disply-testimonial-content i{
     padding-bottom: 30px;
     color: #ff5421;
     font-size: 40px;
}
.disply-testimonial-content p{
     font-size: 22px;
     font-weight: 400;
     font-style: italic;
     color: #ffffff;
     padding: 0px 0px 30px 0px;
}
.arrow-testemonial{
     background-color: #ff5421;
     font-size: 14px;
     color: #fff;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     text-decoration: none;
}
/* Start Subscribe  */
.subscribe{
     background-image: url(../imges/subscribe-bg-min.jpg);
     background-position: center;
     background-size: cover;
}
.input-Subscribe{
     position: relative;
}
.input-Subscribe::placeholder{
     font-size: 16px;

}
.input-Subscribe .btn-section{
     position: absolute;
     top: 10%;
     right: 5%;
     
}

/* Start Event Section */
.owl-carousel span{
     color: #ff5421;
     font-weight: 700;
}
.owl-carousel h3{
     font-size: 18px;
}
.meta-courses i{
     padding-right: 8px;
}
.content-card span{
     margin-bottom: 10px;
}
/* STart Content Section */
#contact{
     background-image: url(../imges/footer-min.jpg);
     background-position: center center;
     background-size: cover;
}
#contact .logo{
     max-width: 190px;
}
#contact p{
     line-height: 1.8;
     width: 85%;
     font-weight: 400;
     padding: 40px 0 0 10px;
     font-size: 17px;
}
.icons{
     display: flex;
     justify-content: flex-start;
}
.icons li{
     list-style: none;
     padding: 0 7px ;
     font-size: 20px;
     transition: .3s all;
}
.icons li:hover{
     color: #ff5421;
}

.footer-title{
     color: #ffffff;
     font-size: 23px;
     line-height: 26px;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 43px;
     position: relative;
}
.footer-title::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: -5px;
     height: 2.5px;
     width: 40px;
     background-color: #ff5421;
}
.footer-list{
     list-style: outside none;
     padding: 35px 0;
}
.footer-list li{
     padding-bottom: 32px;
     font-size: 17px;
}
.footer-list i {
     color: #ff5421;
     font-size: 22px;
     padding-right: 30px;
}

.footer-Courses{
     list-style: outside none;
     padding: 13px 0;
} 
.footer-Courses li{
     padding: 12px 18px ;
     font-size: 17px;
     position: relative;
}
.footer-Courses li::before{
     position: absolute;
     content: '';
     left: 0;
     top: 45%;
     width: 6px;
     height: 6px;
     background-color: #ff5421;
}
.content-footer h4{
     font-size: 17px;
     color: #ffffff;
     font-weight: 400;
     line-height: 22px;
     text-transform: capitalize;
     cursor: pointer;
     transition: 0.4s all;
}
.content-footer h4:hover{
     color: #ff5421;
}
.content-footer i{
     color: #ff5421;
     font-size: 17px;
     padding-right: 7px;
}
/* Footer */
footer{
     position: relative;
     display: flex;
     justify-content: space-between;
}
footer::after{
     content: '';
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     height: 1px;
     width: 100%;
     max-width: 1240px;
     background: rgba(255, 255, 255, 0.1);
}

footer h2{
     color: #f3f8f9;
     font-size: 20px;
     font-weight: 600;
}
footer .contact-me{
     margin: 0;
     padding: 0;
}
footer .contact-me li{
     padding-right: 15px;
     list-style: none outside;
}
footer a{
     color: #f3f8f9;
     font-size: 20px;
     text-decoration: none;
     transition: .3s all;
}
footer a:hover{
     color: #ff5421;
}






@media  screen and (max-width: 1000px){
     .icon-spiner .circle{
     right: 76%;
     }
     .icon-spiner .squre-img{
     right: 40%;
     bottom: 0;
     }
     .subtitele-home h2{
     font-size: 60px;
     margin-bottom: 20px;
     }
     #pages .icon-spiner .circle{
     right: 85%;
     top: 5%;
     }
}


@media  screen and (max-width: 800px) {
     .navbar-brand{
          width: 70%;
     }
     .navbar-brand img{
          width: 35%;
          min-height: 35%;
     }
     .navbar-collapse{
          transition: all 0.5s;
     }
     .show{
          background-color: #fff ;
          transition: all 0.5s;
     }
     .nav-item a{
          color: #333;
     }
     .nav-item{
          padding: 5px 0;
     }
     .img-home{
          display: none;
     }
     .subtitele-home span{
     font-size: 14px;
     }
     .subtitele-home h2{
     font-size: 50px;
     margin-bottom: 20px;
     }
     .icon-spiner .dot-img{
     display: none;
     }
     .icon-spiner .circle{
     right: 75%;
     }
     .icon-spiner .squre-img{
     right: 20%;
     bottom: 0;
     }
     .icon-spiner .dot-img{
     right: 25%;
     top: 20%;
     }
     .icon-spiner .dot-about1{
     position: absolute;
     bottom: 55%;
     right: 50%;
     }
     .icon-spiner .dot-about2{
     position: absolute;
     top: 10%;
     z-index: 0;
     left: 25%;
     }
     #pages .icon-spiner .circle{
     right: 77%;
     top: 0;
     position: absolute;
     }
     #pages .icon-spiner .squre-img{
          right: 55%;
          position: absolute;
          bottom: 5%;
     }
     #pages .icon-spiner .dot-img{
          display: none;
     }

}
@media  screen and (max-width: 500px) {
     .navbar-brand{
          width: 75%;
     }
     .navbar-brand img{
          width: 50%;
          min-height: 35%;
     }
     .icon-spiner .dot-about1{
     position: absolute;
     bottom: 60%;
     right: 50%;
     }
}